html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.body{
  background-image: url(../images/pantalla.jpg);
}
.container{
  width: 360px;
  padding: 12% 0 0;
  margin: auto;
}
.form{
  position: relative;
  max-width: 360px;
  margin: 0 auto 90px;
  background: #F0FFFF;
  padding: 38px;
  text-align: center;

}
.form button{
  background: #9278;
  width: 90%;
  border: 1;
  padding: 18px;
  color: #ffff;
  font-size: 14px;
  cursor: pointer;
  text-transform: uppercase;
}
.form input{
  width: 100%;
  border: 1;
  margin: 0 0 12px;
  background: #C0C0C0;
  padding: 14px;
  box-sizing: border-box;
  font-size: 16px;

}
.form .registro{
  font-size: 12px;
  color: #0928;
  margin: 15px 0 0;
}
.form .registro a{
  color: #209;
  text-decoration: none;
}

/**article  {
margin-bottom: 10px;
}*//

section article img  {
  margin-bottom: 10px;
}

@media (max-width: 1500px) {
  .form {
    padding: 55px 55px 50px 50px;
  }


@media (max-width: 576px) {
  .form {
    padding: 20px 52px 25px 25px;
  }
}
